.?*
!.github
!.dockerignore
__pycache__
**/.DS_Store
**/*.iml
build/
buildarctic/
bin/
**/*/node_modules/
abigenBindings/
_ixh*
hmny_wallets/
tmp/
docker-compose/logs
**/target/**/*

**/**.profraw
**/lcov.info
rust/**/coverage
rust/near/res

devnet/docker/icon-bsc/local/
devnet/docker/icon-bsc/data/
