# global owners: used as fallback if nobody owns the code
* @CyrusVorwald

# solidity
/solidity/ @sdpisreddevil @izyak

# javascore
/javascore/ @izyak @sdpisreddevil

# golang
/cmd/ @manishbista28 @andrii-kl

# golang: iconbridge
/cmd/iconbridge/ @manishbista28 @andrii-kl

# golang: iconbridge near
/cmd/iconbridge/chain/near/ @MuhammedIrfan

# golang: e2etest
/cmd/e2etest/ @manishbista28

# golang: e2etest near
/cmd/e2etest/chain/near/ @MuhammedIrfan

# docs
/docs/ @CyrusVorwald @pragyanshrestha-ibriz @MuhammedIrfan @andrii-kl

# devops
.github/ @CyrusVorwald

#rust
/rust/ @MuhammedIrfan
